<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
		<p> Please contact me here <a href="mailto:gant.facebook@gmail.com?Subject=onemonth%20kpop%20inquery"> here <a> for any kpop stuff.</p>
    </div>
</div>